.DS_Store
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json
/.obsidian/core-plugins.json
/.obsidian/plugins/obsidian-git/main.js
/.obsidian/plugins/obsidian-git/manifest.json
/.obsidian/plugins/obsidian-git/styles.css
/.obsidian/workspace.json
/dictaphone/250226_0349.MP3
/dictaphone/250202_0430.MP3
/dictaphone/250302_1236.MP3
/dictaphone/250126_2004.MP3/dictaphone/250127_0030.MP3
/dictaphone/250628_035718.m4a/dictaphone/250618_162943.m4a/dictaphone/250626_190214.m4a/dictaphone/250613_021909.m4a